body {
    background-color:rgb(194, 58, 58);
    overflow: hidden;
}

h1{
    color: white;
    border-style: solid;
}

#cyclo{
    position:absolute;
    top: 77%;
    left: 80%;
}

#fleetfeet{
    position:absolute;
    top: 61%;
    left: 30%;
}
